/* Start Header */
header img {
    width: 40px !important;
    height: 40px !important;
}

header li i, header li span  {
    transition: color .2s;
    cursor: pointer;
}

header li:hover i, header li:hover span  {
    color: #FF5E00;
}

header nav p  {
    font-size: 12px !important;
}
/* End Header */

/* Start Main */
main {
    background-color: #FFFAEB;
    min-height: 100vh;
}

main .card {
    scrollbar-width: thin;
    scrollbar-color: #fb6b1890 transparent;
}

main .pref {
    height: 400px;
}

main .rate {
    left: 28px;
    top: 28px;
}

main .description {
    bottom: 28px;
    width: 95%;
}

main img {
    max-width: 100%;
    max-height: 100%;
    width: 500px;
}

main .tags span {
    font-size: 12px;
}

main .tags span:first-child {
    background-color: #DBFCE7;
    color: #168F48;
}

main .tags span:last-child {
    background-color: #DBEAFE;
    color: #2B7FFF;
}

main .button {
    transition: background-color .2s;
}

main .button:hover {
    background-color: #ffbea2 !important;
}

main button {
    transition: all .3s !important;
}

main button:hover {
    transform: scale(1.05) !important;
    background: linear-gradient(#FF5E00, #e25604) !important;
    background-color: #FF5E00 !important;
}

main .nav-tabs li {
    flex-grow: 1 !important;
}

main .nav-tabs li button:hover {
    background-color: transparent !important;
    background: transparent !important;
    transform: none !important;
    color: black !important;
}

main .nav-tabs li button {
    color: #717171 !important;
    font-size: 14px;
}

main .nav-tabs li button.active {
    border-bottom: 2px solid #FF5E00 !important;
    color: #FF5E00 !important;
}

main .tab-content .tab-pane {
    height: 350px;
    scrollbar-width: thin;
    scrollbar-color: #fb6b1890 transparent;
}

main .warning-msg p:first-child{
    font-size: 14px;
}

main .warning-msg p:last-child{
    font-size: 12px;
}
main .list-group-item::before{
    border-radius: 50%;
    background-color: tomato;
    color: white;
    padding: 6px;
    vertical-align: middle;
    font-size: 12px;
}

main #card .description {
    padding: 12px !important;
    gap: 5px !important;
}

main .description{
    width: 85%;
}

main button a {
    text-decoration: none;
    color: inherit;
}

/* End Main */

@media (min-width: 992px) {
    main .pref {
        height: 100%;
    }

    main .description {
        bottom: 28px;
    }

    main .card {
    height: 750px;
    }


    main #card .description {
    padding: 22px !important;
    gap: 16px !important;
}
}